<div
  class="flex justify-center items-center my-auto w-full bg-purple-500 h-screen relative -mt-16"
>
  <div class="text-white text-center">
    <div class="font-PermanentMarker text-8xl mb-3">Budget Buddy</div>
    <div class="font-PermanentMarker text-3xl mb-8">Job costing made easy</div>
    <button
      type="button"
      class="rounded border-2 border-white px-10 py-4 text-sm font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-gray-100 hover:bg-opacity-20"
      (click)="login()"
    >
      Sign In / Register
    </button>
  </div>
</div>
