<page-header [pageTitle]="pageTitle"></page-header>
<div class="flex m-8 mb-3 justify-center flex-wrap">
  <!-- fab buttons -->
  <div class="w-2/3">
    <div class="flex justify-between">
      <button
        class="bg-purple-500 text-white py-2 px-4 rounded-md shadow"
        (click)="goBack()"
      >
        BACK
      </button>
      <div>
        <button
          class="bg-cyan-500 text-white py-2 px-4 rounded-md shadow mr-2"
          (click)="goBack()"
        >
          ADD MATERIAL
        </button>
        <button
          class="bg-green-500 text-white py-2 px-4 rounded-md shadow"
          (click)="goBack()"
        >
          ADD LABOR
        </button>
      </div>
    </div>
    <!-- card header -->
    <div
      class="flex justify-between bg-purple-700 rounded-t-lg border-0 shadow-md px-6 py-4 mt-5"
    >
      <div class="flex-col">
        <div class="flex items-center mb-0.5">
          <div class="text-purple-100 text-xl mr-1.5">{{ job.name }}</div>
          <div class="text-teal-300 text-xl">
            {{ job.customer.name }}
          </div>
        </div>
        <div class="text-purple-300 text-md">
          {{ job.startDate | date : 'dd/MM/yy' }} -
          {{ job.finishDate | date : 'dd/MM/yy' }}
        </div>
      </div>
    </div>
    <mat-tab-group class="bg-white rounded-b-lg mb-10">
      <mat-tab label="MATERIALS">
        <div class="flex-col mx-3">
          <div
            *ngFor="let material of job.materials"
            class="flex justify-between my-5 mx-5 border-b"
          >
            <div class="mb-5">
              <div class="text-xl mb-2 font-medium text-teal-700">
                {{ material.name }}
              </div>
              <div class="flex text-sm text-gray-500">
                <div class="font-medium mr-1">
                  {{ material.actualTotalCost }}
                </div>
                <div class="font-light">baht total</div>
              </div>
              <div class="flex text-sm text-gray-500">
                <div class="font-medium mr-1">
                  {{ material.actualCostPerUnit | number : '1.1-2' }}
                </div>
                <div class="font-light">baht per unit</div>
              </div>
            </div>
            <div class="w-1/2 mb-5 mt-2">
              <div class="mb-4">
                <div class="flex justify-between">
                  <div class="text-xs">Cost</div>
                  <div class="text-xs">
                    {{ material.actualTotalCost }} /
                    {{ material.estimatedTotalCost }}
                    ({{
                      (material.actualTotalCost / material.estimatedTotalCost) *
                        100 | number : '1.0-1'
                    }}%)
                  </div>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-1 mb-3">
                  <div
                    *ngIf="
                      material.actualTotalCost > material.estimatedTotalCost
                    "
                  >
                    <div class="bg-red-600 h-1 rounded-full"></div>
                  </div>
                  <div
                    *ngIf="
                      material.actualTotalCost <= material.estimatedTotalCost
                    "
                  >
                    <div
                      class="bg-blue-600 h-1 rounded-full"
                      [style.width.%]="
                        getProgressBarWidth(
                          material.actualTotalCost,
                          material.estimatedTotalCost
                        )
                      "
                    ></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="flex justify-between">
                  <div class="text-xs">Units</div>
                  <div class="text-xs">
                    {{ material.actualUnits }} /
                    {{ material.estimatedUnits }} ({{
                      (material.actualUnits / material.estimatedUnits) * 100
                        | number : '1.0-1'
                    }}%)
                  </div>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-1 mb-3">
                  <div *ngIf="material.actualUnits > material.estimatedUnits">
                    <div class="bg-red-600 h-1 rounded-full"></div>
                  </div>
                  <div *ngIf="material.actualUnits <= material.estimatedUnits">
                    <div
                      class="bg-blue-600 h-1 rounded-full"
                      [style.width.%]="
                        getProgressBarWidth(
                          material.actualUnits,
                          material.estimatedUnits
                        )
                      "
                    ></div>
                  </div>
                </div>
              </div>
              <div class="flex justify-end">
                <button
                  class="bg-purple-500 rounded p-1 mr-1.5"
                  (click)="toDirectMaterialCostList(material)"
                >
                  <div class="text-white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M6 4.75A.75.75 0 016.75 4h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 4.75zM6 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 10zm0 5.25a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75a.75.75 0 01-.75-.75zM1.99 4.75a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 15.25a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 10a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1V10z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                </button>
                <button
                  class="bg-teal-400 rounded p-1"
                  (click)="toDirectMaterialCostAdd(material)"
                >
                  <div class="text-black">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
                      />
                    </svg>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-col mb-8 mx-5 w-1/2">
            <div class="text-start text-purple-800 text-xl font-medium mb-3">
              Material Cost Summary
            </div>
            <div class="flex justify-between">
              <div class="font-thin">Estimated Cost</div>
              <div class="font-medium">
                {{ job.estimatedMaterialCost | number : '1.0-0' }}
              </div>
            </div>
            <div class="flex justify-between mb-2">
              <div class="font-thin">Actual Cost</div>
              <div class="font-medium">
                {{ job.actualMaterialCost | number : '1.0-0' }}
              </div>
            </div>
            <hr />
            <div class="flex justify-between mt-2">
              <div class="font-thin">Cost difference</div>
              <div class="font-medium">
                {{
                  job.estimatedMaterialCost - job.actualMaterialCost
                    | number : '1.0-0'
                }}
              </div>
            </div>
            <div class="flex justify-between">
              <div class="font-thin">% difference</div>
              <div class="font-medium">
                {{
                  calculatePercentError(
                    job.actualMaterialCost,
                    job.estimatedMaterialCost
                  ) | number : '1.1-1'
                }}%
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="LABORS">
        <div class="flex-col mx-3">
          <div
            *ngFor="let labor of job.labors"
            class="flex justify-between my-5 mx-5 border-b"
          >
            <div class="mb-5">
              <div class="text-xl mb-2 font-medium text-teal-700">
                {{ labor.name }}
              </div>
              <div class="flex text-sm text-gray-500">
                <div class="font-medium mr-1">
                  {{ labor.actualTotalCost }}
                </div>
                <div class="font-light">baht total</div>
              </div>
              <div class="flex text-sm text-gray-500">
                <div class="font-medium mr-1">
                  {{ labor.actualTotalCost | number : '1.1-2' }}
                </div>
                <div class="font-light">baht per unit</div>
              </div>
            </div>
            <div class="w-1/2 mb-5 mt-2">
              <div class="mb-4">
                <div class="flex justify-between">
                  <div class="text-xs">Cost</div>
                  <div class="text-xs">
                    {{ labor.actualTotalCost }} /
                    {{ labor.estimatedTotalCost }}
                    ({{
                      (labor.actualTotalCost / labor.estimatedTotalCost) * 100
                        | number : '1.0-1'
                    }}%)
                  </div>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-1 mb-3">
                  <div *ngIf="labor.actualTotalCost > labor.estimatedTotalCost">
                    <div class="bg-red-600 h-1 rounded-full"></div>
                  </div>
                  <div
                    *ngIf="labor.actualTotalCost <= labor.estimatedTotalCost"
                  >
                    <div
                      class="bg-blue-600 h-1 rounded-full"
                      [style.width.%]="
                        getProgressBarWidth(
                          labor.actualTotalCost,
                          labor.estimatedTotalCost
                        )
                      "
                    ></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="flex justify-between">
                  <div class="text-xs">Hours</div>
                  <div class="text-xs">
                    {{ labor.actualHours }} / {{ labor.estimatedHours }} ({{
                      (labor.actualHours / labor.estimatedHours) * 100
                        | number : '1.0-1'
                    }}%)
                  </div>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-1 mb-3">
                  <div *ngIf="labor.actualHours > labor.estimatedHours">
                    <div class="bg-red-600 h-1 rounded-full"></div>
                  </div>
                  <div *ngIf="labor.actualHours <= labor.estimatedHours">
                    <div
                      class="bg-blue-600 h-1 rounded-full"
                      [style.width.%]="
                        getProgressBarWidth(
                          labor.actualHours,
                          labor.estimatedHours
                        )
                      "
                    ></div>
                  </div>
                </div>
              </div>
              <div class="flex justify-end">
                <button
                  class="bg-purple-500 rounded p-1 mr-1.5"
                  (click)="toDirectLaborCostList(labor)"
                >
                  <div class="text-white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M6 4.75A.75.75 0 016.75 4h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 4.75zM6 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 10zm0 5.25a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75a.75.75 0 01-.75-.75zM1.99 4.75a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 15.25a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 10a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1V10z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                </button>
                <button
                  class="bg-teal-400 rounded p-1"
                  (click)="toDirectLaborCostAdd(labor)"
                >
                  <div class="text-black">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
                      />
                    </svg>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-col mb-8 mx-5 w-1/2">
            <div class="text-start text-purple-800 text-xl font-medium mb-3">
              Labor Cost Summary
            </div>
            <div class="flex justify-between">
              <div class="font-thin">Estimated Cost</div>
              <div class="font-medium">
                {{ job.estimatedLaborCost | number : '1.0-0' }}
              </div>
            </div>
            <div class="flex justify-between mb-2">
              <div class="font-thin">Actual Cost</div>
              <div class="font-medium">
                {{ job.actualLaborCost | number : '1.0-0' }}
              </div>
            </div>
            <hr />
            <div class="flex justify-between mt-2">
              <div class="font-thin">Cost difference</div>
              <div class="font-medium">
                {{
                  job.estimatedLaborCost - job.actualLaborCost
                    | number : '1.0-0'
                }}
              </div>
            </div>
            <div class="flex justify-between">
              <div class="font-thin">% difference</div>
              <div class="font-medium">
                {{
                  calculatePercentError(
                    job.actualLaborCost,
                    job.estimatedLaborCost
                  ) | number : '1.1-1'
                }}%
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="SUMMARY">
        <div class="py-10 px-20">
          <div class="text-center mb-5 text-teal-700 font-medium text-lg">
            Cost Summary
          </div>
          <div class="flex justify-between">
            <div class="font-thin">Direct Material Costs</div>
            <div class="font-medium">
              {{ job.actualMaterialCost | number : '1.0-1' }}
            </div>
          </div>
          <div class="flex justify-between">
            <div class="font-thin">Direct Labor Costs</div>
            <div class="font-medium">
              {{ job.actualLaborCost | number : '1.0-1' }}
            </div>
          </div>
          <div class="flex justify-between">
            <div class="font-thin">Overhead rate</div>
            <div class="font-medium">
              {{ job.overheadRate * 100 | number : '1.0-1' }}%
            </div>
          </div>
          <hr class="my-3" />
          <div class="flex justify-between">
            <div class="font-thin">Total Job Cost</div>
            <div class="font-medium">
              {{ job.totalJobCost | number : '1.0-1' }}
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
