<div *ngIf="isLoggedIn">
  <div class="h-screen bg-gray-100">
    <div class="flex justify-between items-center bg-purple-700 h-16 px-5">
      <div class="text-gray-100 ml-5 text-2xl font-semibold">
        <h1 style="letter-spacing: 0.05em">Budget Buddy</h1>
      </div>
      <button>
        <div class="text-white" (click)="logout()">Logout</div>
      </button>
    </div>
    <div class="bg-gray-100">
      <page-header [pageTitle]="pageTitle"></page-header>
      <div class="flex justify-center my-auto w-full h-full"></div>
    </div>
  </div>
</div>
<div
  *ngIf="!isLoggedIn"
  class="flex justify-center items-center my-auto w-full bg-purple-500 h-screen"
>
  <div class="text-white text-center">
    <div class="font-PermanentMarker text-8xl mb-3">Budget Buddy</div>
    <div class="font-PermanentMarker text-3xl mb-8">Job costing made easy</div>
    <button
      type="button"
      class="rounded border-2 border-white px-10 py-4 text-sm font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-gray-100 hover:bg-opacity-20"
      (click)="login()"
    >
      Sign In / Register
    </button>
  </div>
</div>
